:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primery-bgn: #f5f5f5;
  --secondary-bgn: #f5f4fa;
  --aсcent-bgn: #2f303a;
  --accent-color: #2196f3;
  --main-font-color: #757575;
  --secondary-font-color: #212121;
  --accent-font-color: #ffffff;
}
/* body */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  width: 1600px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--main-font-color);
}

/* header */

.logo-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-deko {
  color: black;
}
.nav-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.activ-page {
  color: var(--accent-color);
}

.contacts-link {
  color: inherit;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background: var(--aсcent-bgn);
  height: 600px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-font-color);
}
.hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--accent-font-color);
  background-color: var(--accent-color);
}
/* features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  width: 1170px;
}
.features-item {
  width: 270px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}
.features-txt {
  line-height: calc(24 / 14);
  color: var(--main-font-color);
}

/* our-work */
.our-work {
  width: 1170px;
}
/* team */
.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.team {
  width: 1170px;
  background: var(--secondary-bgn);
}
.team-item {
  font-size: 16px;
  line-height: calc(19 / 16);
}
.team-mate {
  font-weight: 500;

  color: var(--secondary-font-color);
}

/* footer */
.footer {
  background: var(--aсcent-bgn);

  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.logo-deko-white {
  color: var(--accent-font-color);
}
.mail-link,
.tel-link,
.address-link {
  font-style: normal;
}
.address-link {
  color: var(--accent-font-color);
}
.mail-link,
.tel-link {
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
/* portfolio */

.filter-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--secondary-font-color);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--accent-font-color);
  background-color: var(--accent-color);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-font-color);
}
.project-txt {
  font-size: 16px;
  line-height: calc(30 / 16);
}
